{{#partial "content"}}

    <h1> Division Departments</h1>
    <hr/>

    {{#if departments}}
        {{#each departments }}
            <p><a href="/departments/{{id}}">{{name}}</a></p>
        {{/each}}
    {{else}}
        <p>No Departments!</p>
    {{/if}}

{{/partial}}

{{> layout.hbs}}