{{#partial "title"}}
    Update Department
{{/partial}}
{{#partial "content"}}
    {{#if message}}
        <div class="alert alert-success">{{message}}</div>
    {{/if}}
    <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-12 card">
            <h4>Update Department</h4>
            <hr>
            <form method="post" action="/departments/{{department.id}}">
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <div class="form-group">
                            <label>Department Name</label>
                            <input class="form-control" type="text" placeholder="Department Name"
                                   name="name"  value="{{department.name}}" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <div class="form-group">
                            <input class="btn btn-success" type="submit" value="Update Department">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{{/partial}}

{{> layout.hbs}}